*{
  box-sizing: border-box;
}

html{
  box-sizing: inherit;
  font-size: 62.5%;
}

.wrapper_noti{
  display: none;
}

html, body{
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

.container{
  width: 98rem;
  margin: 0rem auto;
  justify-content: center;
}

.promo{
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.title{
  display: flex;
  justify-content: center;
  margin: 4rem 0 2rem 0;
}

.options{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  margin: 0rem auto;
}

.button_bed, .button_flip, .button_kitchen, .button_board, .button_flag, .button_solar, .button_lamps, .button_stickers, .button_windows, .button_rug, .button_cabinet, .button_clearAll{
  padding: 1rem 1.3rem;
  margin: 1rem;
  border: 0.2rem solid #000000;
  background-color: white;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}


.van_frame, .van_bed, .van_kitchen, .van_board, .van_cabinet, .van_lamps, .van_rug, .van_solar, .van_stickers, .van_window, .van_flag{
  width: 98rem;
  height: 71rem;
  margin-top: 8rem;
  transform: scaleX(1);
}

.van_board {
  position: absolute;
  z-index: -101;
  display: none;

}

.van_frame {
  position: absolute;
  z-index: -100;

}

.van_bed {
  position: absolute;
  z-index: -99;
  display: none;

}

.van_kitchen {
  position: absolute;
  z-index: -98;
  display: none;

}

.van_stickers {
  position: absolute;
  z-index: -97;
  display: none;

}

.van_window {
  position: absolute;
  z-index: -96;
  display: none;

}

.van_cabinet {
  position: absolute;
  z-index: -95;
  display: none;

}

.van_lamps {
  position: absolute;
  z-index: -94;
  display: none;

}

.van_rug {
  position: absolute;
  z-index: -93;
  display: none;

}

.van_solar {
  position: absolute;
  z-index: -92;
  display: none;

}

.van_flag {
  position: absolute;
  z-index: -102;
  display: none;

}

@media screen and (max-width: 980px) {


  .container{
    width: 72rem;
    margin: 0rem auto;
    justify-content: center;
  }
  
  .van_frame, .van_bed, .van_kitchen, .van_board, .van_cabinet, .van_lamps, .van_rug, .van_solar, .van_stickers, .van_window, .van_flag{
    width: 72rem;
    height: 47rem;
    margin-top: 12rem;
    transform: scaleX(1);
  }
}


@media screen and (max-width: 720px) {

  .container{
    width: 48rem;
    margin: 0rem auto;
    justify-content: center;
  }


.options{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 480px;
  margin: 0rem auto;
}
  
  .van_frame, .van_bed, .van_kitchen, .van_board, .van_cabinet, .van_lamps, .van_rug, .van_solar, .van_stickers, .van_window, .van_flag{
    width: 48rem;
    height: 32rem;
    margin-top: 16rem;
    transform: scaleX(1);
  }
}

@media screen and (max-width: 505px) {
  .title, .van, .options, .promo{
    display: none;
  }

  .container{
    width: 100vw;;
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper_noti{
    display: block;
  }
}
